/*default css*/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #e8e8e8;
	font-size: 12px;
	line-height: normal;
	color: #333333;
}

a {
	color: #024282;
}

.link {
	color: #024282 !important;
}

.btn-primary {
    color: #fff;
    background-color: #024282 !important;
    border-radius: 0;
    border:none;
    padding: 9px 20px 10px 20px;
    max-width: 100%;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-primary:hover {
    border-left: 4px solid #F8C434;
}

.bg-primary {
	background: #024282 !important;
} 

.text_yellow {
	color: #F8C434 !important;
}

.heading,
.sub_heading,
.main_heading,
.poppins_font,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
}

.main-heading {
	text-align: center;
	color: #eb3941;
	margin-bottom: 20px;
	font-weight: 200;
	text-transform: uppercase;
}

.bg_light_blue {
	background: #e5f0fc;
}

.bg_light_yellow {
	background: #fff5db;
}

.bg_yellow {
	background: #F8C434 !important;
}


/***************************Header CSS Start*****************************/

.svg-inline--fa.fa-phone.fa-w-16 {
	transform: rotateZ(102deg);
}

.header_btn_wr {
	display: inline-block;
}

.header_btn_wr .btn {
	display: inline-block;
	margin: 10px 0 10px 5px;
}

.header_btn_wr .btn.btn-secondary {
	margin-left: 20px;
}

.header_menus .navbar.navbar-expand-lg {
	float: right;
	padding: 0;
}

.header_menus .nav-link {
	padding: 27px 15px !important;
	line-height: 18px;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	margin: 0 1px;
}

.header_menus .active a.nav-link,
.header_menus .nav-item.show .nav-link,
.header_menus .nav-link:hover {
	color: #024282;
	background-color: rgba(248, 196, 52, 0.5);
}

.header_menus .active a.nav-link {
	background-color: #F8C434;
	color: #fff;
	font-weight: bold;
}

.header_menus .nav-item .dropdown-menu {
	top: 90px !important;
	padding: 5px 0;
	border-radius: 3px;
	box-shadow: 0 0px 45px #ccc;
	border: none;
}

.header_menus .nav-item div.dropdown-menu::after {
	display: block;
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	top: -10px;
	left: 15px;
}

.header_menus .dropdown-item {
	padding: 7px 15px;
	font-size: 14px;
	line-height: 18px;
}

/*Slider Design*/

.slider_wr {
	max-height: 450px;
	overflow: hidden;
}

.slider_arrow_design button.slick-prev.slick-arrow {
	z-index: 1;
}

.slider_arrow_design .slick-next,
.slider_arrow_design .slick-prev {
	background: rgba(255, 255, 255, 0.5);
	padding: 25px;
	margin-top: -24px;
	border-radius: 100px;
}

.slider_arrow_design .slick-next {
	right: 50px;
	/*background-image: linear-gradient(to right bottom, #eb3941, #e93941, #e63840, #e43840, #e2373f);*/
}

.slider_arrow_design .slick-prev {
	left: 50px;
	/*background-image: linear-gradient(to left bottom, #eb3941, #e93941, #e63840, #e43840, #e2373f);*/
}

.slider_arrow_design .slick-next::before {
	content: "â€º";
	right: 19px;
}

.slider_arrow_design .slick-prev::before {
	content: "â€¹";
	right: 22px;
}

.slider_arrow_design .slick-next::before,
.slider_arrow_design .slick-prev::before {
	color: #000000;
	font-size: 35px;
	position: absolute;
	top: 1px;
	border-radius: 100% !important;
	overflow: hidden;
}

.slider_arrow_design .slick-dots {
	bottom: 60px;
}

.slider_arrow_design .slick-dots li button::before {
	width: 15px;
	background: #ccc;
	opacity: 1;
	content: "";
	height: 15px;
	border-radius: 100px;
}

.slider_arrow_design .slick-dots li.slick-active button::before {
	background: #333;
}


/*carousel*/
.home_carousel {
    padding-top: 72px;
}

.home_carousel .slick-prev,
.home_carousel .slick-next {
	color: #024282;
	font-size: 30px;
	opacity: 1;
	text-align: center;
	height: 50px;
	line-height: 50px;
	z-index: 5;
	background: rgba(248, 196, 52, 0.5);
	padding: 0 10px;
	width: 40px;
}


.home_carousel .slick-prev:before,
.home_carousel .slick-next:before {
	display: none !important;
}

.home_carousel .slick-next {
	right: 20px !important;
}

.home_carousel .slick-prev {
	left: 20px !important;
}

/*New*/
.site_logo {
	width: 100%; 
}
.site_logo span.logo_text {
	color: #333333;
    font-size: 20px;
    line-height: 22px;
}

.site_logo span.text-muted {
	display: inline-block;
	position: relative;
	left: 1px;
}

.lic_logo_center {
    width: 115px;
    margin: 6px 0;
}

header#main_header {
	/*border-bottom: 2px solid #F8C434;*/
	box-shadow: 0px -1px 20px -4px #F8C434 !important;
}

 /*Contact Details*/
 .contact_details {
 	background-color: #024282;
 	background-image: linear-gradient(to bottom, #024282, #003b75, #003467, #002e5b, #00274e);
 }

.card-contact-details {
    border-left: 1px solid rgba(255,255, 255,0.1);
}

.card-contact-details i, .card-contact-details svg {
    left: 18px;
    top: 36px;
    color: #F8C434;
}

.footer_style1 ul li {
    padding: 0px 0 0 15px !important;
    margin-left: 10px;
    border-left: 1px solid #fefefe;
	line-height: 14px;
	display: inline-block;
}

.footer_style1 ul li:first-child {
	padding: 0px;
	border-left: none;
}

/*Heading Style*/
.heading_style {
	font-weight: bold;
	color: #024282;
}

.heading_style span {
    background: #F8C434 !important;
    padding: 0 5px;
}

ul.check_listing {
	list-style: none;
	padding: 0;
}

ul.check_listing li {
    padding: 10px 0 10px 50px;
    background: #fafafa;
    border-radius: 4px;
    margin-bottom: 5px;
    position: relative;
}

ul.check_listing li:hover {
	background: rgba(248, 196, 52, 0.2);
}

ul.check_listing li i, ul.check_listing li svg {
    color: #19b919;
    position: absolute;
    left: 16px;
    top: 50%;
    font-size: 18px;
    margin-top: -9px;
}

/*Download Cards*/
.download-card {
    border: 1px solid #F8C434 !important;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.download-card:hover {
    box-shadow: 0 0 15px 0 #F8C434;
}

.download-card .card-body {
    padding-left: 77px;
}

.download-card i,
.download-card svg {
    left: 20px;
    top: 50%;
    font-size: 50px;
    margin-top: -25px;
    color: #F8C434;
}

.download-card a {
    position: absolute;
    font-size: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

iframe.google_map {
    width: 100%;
    pointer-events: none;
    max-height: 100%;
    margin: 0px;
    top: 0px;
    bottom: 0px;
	height: 100%;
	position: absolute;
}
